# Virtual environments
env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.egg-info/

# Tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# PyInstaller
build/
dist/
*.spec

# Test Assets
test_comic.cbz

# Claude
.claude/*
